li {
  background: red;
  margin: 10px;
  padding: 10px;
}

.label {
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.create-update-form {
  background: green;
  margin: 10px;
  padding: 10px;
}

.form-group {
  margin-bottom: 10px;
}
